# Secrets, jamais commité
.env

# README brouillon
README.md

# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt_velib/target/
dbt_velib/dbt_packages/
dbt_velib/logs/

# Airflow
airflow/logs/
airflow/.env

# Streamlit
.streamlit/secrets.toml

# Logs locaux divers
logs/

# Fichiers de données locaux
*.parquet

# OS / éditeur
.DS_Store
.vscode/
.idea/

extraction/data/